
@model LeHuuToan_2001206939_LTW.Models.Book;
@{
    ViewData["Title"] = "Add new book";
}

<form asp-action="create" method="post" EncType="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Name Book">
        <span class="badge badge-danger text-wrap" asp-validation-for="@Model.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input type="number" class="form-control" asp-for="@Model.Price" placeholder="Name Book">
        <span class="badge badge-danger text-wrap" asp-validation-for="@Model.Price"></span>
    </div>
    <div class="form-group">
        <label >Image</label>
        <input type="file" name="file" class="form-control"  placeholder="Name Book">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>